/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.tablet-display,
.mobile-display {
    display: none;
    margin: clamp(0.5rem, 2vw, 2rem);
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-side {
    border: 2px solid red;
    flex: 0 0 35%;
}

.right-side {
    border: 2px solid blue;
    flex: 1;
}

@media (max-width: 1024px) {
    body {
        justify-content: center;
        align-items: center;
    }

    .mobile-display {
        display: none;
    }

    .tablet-display {
        display: block;
    }

    .content {
        display: none;
    }
}

@media (max-width: 768px) {
    .mobile-display {
        display: block;
    }

    .tablet-display {
        display: none;
    }
}
