:root {
    /* Light Mode */
    --primary-color: #fafafa;
    --secondary-color: #0a0a0a;
    --tertiary-color: #6b7280;
}

:dark {
    /* Dark Mode */
    --primary-color: #0a0a0a;
    --secondary-color: #fafafa;
    --tertiary-color: #6b7280;
}

/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.tablet-display,
.mobile-display {
    display: none;
    margin: clamp(0.5rem, 2vw, 2rem);
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-side {
    flex: 0 0 35%;
    position: relative;
}

.logo {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 75px;
}

#left-side-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* makes sure it fills without weird distortion */
    display: block;
}

.link {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    color: var(--primary-color);
}

.right-side {
    flex: 1;
    background-color: var(--primary-color);
}

@media (max-width: 1024px) {
    body {
        justify-content: center;
        align-items: center;
    }

    .mobile-display {
        display: none;
    }

    .tablet-display {
        display: block;
    }

    .content {
        display: none;
    }
}

@media (max-width: 768px) {
    .mobile-display {
        display: block;
    }

    .tablet-display {
        display: none;
    }
}
